body {
    font-family: 'Outfit', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: block;
    width: 18vw;
    height: 55vh;
    background-color: White;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}

img {
    width: 16vw;
    height: 30vh;
    display: block;
    border-radius: 25px;
    margin-top: 15px;
}

p {
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#tagline {
    font-weight: 700;
}

@media (max-width: 800px) {
    section {
        display: block;
        width: 80vw;
        height: 75vh;
        background-color: White;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 25px;
    }

    img {
        width: 70vw;
        height: 45vh;
        display: block;
        border-radius: 25px;
        margin-top: 15px;
    }

    p {
        font-size: 4vw;
        font-weight: 400;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
  }
